.abody {
	background: #feffff;
	background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef));
	background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
	background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
	background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
	background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}

.panel {
	padding:20px;
	background-color:rgba(0,255,0,.5);
	-moz-border-radius: 15px;
	border-radius: 15px;
	min-height:400px;
}
.logotype {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 64px;
	letter-spacing:-6px;
	line-height:48px;
}
.boid-row {
	width: 128px;
	height: 128px;
	overflow:hidden;
	position:absolute;
}
.boid-col {
	padding: 0px 6px;
	float: left;
}
.boid-name {
	position: absolute;
	float: left;
	width: 150px;
	overflow: hidden;
	text-align: center;
}
.gender {
	float:left;
	width: 12px;
	height: 12px;
}
.gender-male {
	float:left;
	color: white;
	background-color: blue;
}
.gender-female {
	float:left;
	color: black;
	background-color: pink;
}
.alive {
	float: left;
	width: 12px;
	height: 12px;
	background: green;
}
.dead {
	transform:rotate(-70deg);
	-ms-transform:rotate(-70deg); /* IE 9 */
	-webkit-transform:rotate(-70deg); /* Opera, Chrome, and Safari */
}

	#viewport {
		-webkit-perspective: 400;
		-moz-perspective: 400;
		-o-perspective: 400;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		background-image: linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
		background-image: -o-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
		background-image: -moz-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
		background-image: -webkit-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
		background-image: -ms-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.28, rgb(69,132,180)),
			color-stop(0.64, rgb(31,71,120))
		);
	}

	#world {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -256px;
		margin-top: -256px;
		height: 512px;
		width: 512px;
		background-color: rgba( 255, 0, 0, .2 );
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
	}
.cloudBase {
		background-color: rgba( 255, 0, 255, .5 );
		position: absolute;
		left: 256px;
		top: 256px;
		width: 20px;
		height: 20px;
		margin-left: -10px;
		margin-top: -10px;
	}


